.fc {
    direction: ltr !important;
    text-align: left !important;
}

.fc table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
	width:80% !important;
}

html .fc,
.fc table {
    font-size: 1.02em !important;
	color:#0F5049;
	font-family: nazanin !important;
}

.fc td,
.fc th {
    padding: 0 !important;
    vertical-align: top !important;
}

/* Header
------------------------------------------------------------------------*/

.fc-header td {
    white-space: nowrap !important;
	
}

.fc-header-left {
    width: 25% !important;
    text-align: left !important;
}

.fc-header-center {
    text-align: center !important;
display:none !important;
}

.fc-header-right {
display: none;
    width: 25% !important;
    text-align: right !important;
cursor: default !important;
}

.fc-header-title {
    /*direction: rtl !important;
    display: inline-block !important;
    vertical-align: top !important;
    font-family: tahoma !important;*/
	font-family: nazanin !important;
float: right !important;
}

.fc-header-title h2 {
    margin-top: 0 !important;
    white-space: nowrap !important;
}

.fc .fc-header-space {
    padding-left: 10px !important;
}

.fc-header .fc-button {
    margin-bottom: 1em !important;
    vertical-align: top !important;
	-webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin: 0!important;
    height: 2.1em !important;
    padding: 0 .6em !important;
    font-size: 1em !important;
    white-space: nowrap !important;
    cursor: pointer!important;
}

/* buttons edges butting together */

.fc-header .fc-button {
    margin-right: -1px !important;
}

.fc-header .fc-corner-right {
    margin-right: 1px !important; /* back to normal */
}

.fc-header .ui-corner-right {
    margin-right: 0 !important; /* back to normal */
}

/* button layering (for border precedence) */

.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
    z-index: 2 !important;
}

.fc-header .fc-state-down {
    z-index: 3 !important;
}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
    z-index: 4 !important;
}

/* Content
------------------------------------------------------------------------*/

.fc-content {
    clear: both !important;
}

.fc-view {
    width: 100% !important; /* needed for view switching (when view is absolute) */
    overflow: hidden !important;
}

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header, /* <th>, usually */
.fc-widget-content {
    /* <td>, usually */
   border: 1px solid rgb(31, 158, 131);
	width: 5% !important;
}

.fc-state-highlight {
    /* <td> today cell */
    /* TODO: add .fc-today to <th> */
    background: #ffc !important;
}

.fc-cell-overlay {
    /* semi-transparent rectangle while dragging */
    background: #9cf !important;
    opacity: .2 !important;
    filter: alpha(opacity=20) !important; /* for IE */
}

/* Buttons
------------------------------------------------------------------------*/

.fc-button {
    position: relative !important;
    display: inline-block !important;
    cursor: pointer !important;
}

.fc-state-default {
    /* non-theme */
    border-style: solid !important;
    border-width: 1px 0 !important;
}

.fc-button-inner {
    position: relative !important;
    float: left !important;
    overflow: hidden !important;
}

.fc-state-default .fc-button-inner {
    /* non-theme */
    border-style: solid !important;
    border-width: 0 1px !important;
}

.fc-button-content {
    position: relative !important;
    float: left !important;
    height: 1.9em !important;
    line-height: 1.9em !important;
    padding: 0 .6em !important;
    white-space: nowrap !important;
}

/* icon (for jquery ui) */

.fc-button-content .fc-icon-wrap {
    position: relative !important;
    float: left !important;
    top: 50% !important;
}

.fc-button-content .ui-icon {
    position: relative !important;
    float: left !important;
    margin-top: -50% !important;
    *margin-top: 0 !important;
    *top: -50% !important;
}

/* gloss effect */

.fc-state-default .fc-button-effect {
    position: absolute !important;
    top: 50% !important;
    left: 0 !important;
}

.fc-state-default .fc-button-effect span {
    position: absolute !important;
    top: -100px !important;
    left: 0 !important;
    width: 500px !important;
    height: 100px !important;
    border-width: 100px 0 0 1px !important;
    border-style: solid !important;
    border-color: #fff !important;
    background: #444 !important;
    opacity: .09 !important;
    filter: alpha(opacity=9) !important;
}

/* button states (determines colors)  */

.fc-state-default,
.fc-state-default .fc-button-inner {
    border-style: solid;
    border-color: #ccc #bbb #aaa;
    background: #F3F3F3;
    color: #000;
}

.fc-state-hover,
.fc-state-hover .fc-button-inner {
    border-color: #999 !important;
}

.fc-state-down,
.fc-state-down .fc-button-inner {
    border-color: #555 !important;
    background: #777 !important;
}

.fc-state-active,
.fc-state-active .fc-button-inner {
    border-color: #555 !important;
    background: #777 !important;
    color: #fff !important;
}

.fc-state-disabled,
.fc-state-disabled .fc-button-inner {
    color: #999 !important;
    border-color: #ddd !important;
}

.fc-state-disabled {
    cursor: default !important;
}

.fc-state-disabled .fc-button-effect {
    display: none !important;
}

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event {
    border-style: solid !important;
    border-width: 0 !important;
    font-size: .85em !important;
    cursor: default !important;
}

a.fc-event,
.fc-event-draggable {
    cursor: pointer !important;
}

a.fc-event {
    text-decoration: none !important;
}

.fc-rtl .fc-event {
    text-align: right !important;
}

.fc-event-skin {
    border-color: #36c !important; /* default BORDER color */
    background-color: #36c !important; /* default BACKGROUND color */
    color: #fff !important; /* default TEXT color */
}

.fc-event-inner {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    border-style: solid !important;
    border-width: 0 !important;
    overflow: hidden !important;
}

.fc-event-time,
.fc-event-title {
    padding: 0 1px !important;
}

.fc .ui-resizable-handle {
    /*** TODO: don't use ui-resizable anymore, change class ***/
    display: block !important;
    position: absolute !important;
    z-index: 99999 !important;
    overflow: hidden !important; /* hacky spaces (IE6/7) */
    font-size: 300% !important; /* */
    line-height: 50% !important; /* */
}

/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
    border-width: 1px 0 !important;
    margin-bottom: 1px !important;
}

/* resizable */

.fc-event-hori .ui-resizable-e {
    top: 0 !important; /* importants override pre jquery ui 1.7 styles */
    right: -3px !important;
    width: 7px !important;
    height: 100% !important;
    cursor: e-resize !important;
}

.fc-event-hori .ui-resizable-w {
    top: 0 !important;
    left: -3px !important;
    width: 7px !important;
    height: 100% !important;
    cursor: w-resize !important;
}

.fc-event-hori .ui-resizable-handle {
    _padding-bottom: 14px !important; /* IE6 had 0 height */
}

/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/

.fc-corner-left {
    margin-left: 1px !important;
}

.fc-corner-left .fc-button-inner,
.fc-corner-left .fc-event-inner {
    margin-left: -1px !important;
}

.fc-corner-right {
    margin-right: 1px !important;
}

.fc-corner-right .fc-button-inner,
.fc-corner-right .fc-event-inner {
    margin-right: -1px !important;
}

.fc-corner-top {
    margin-top: 1px !important;
}

.fc-corner-top .fc-event-inner {
    margin-top: -1px !important;
}

.fc-corner-bottom {
    margin-bottom: 1px !important;
}

.fc-corner-bottom .fc-event-inner {
    margin-bottom: -1px !important;
}

/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/

.fc-corner-left .fc-event-inner {
    border-left-width: 1px !important;
}

.fc-corner-right .fc-event-inner {
    border-right-width: 1px !important;
}

.fc-corner-top .fc-event-inner {
    border-top-width: 1px !important;
}

.fc-corner-bottom .fc-event-inner {
    border-bottom-width: 1px !important;
}

/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
    border-collapse: separate !important;
}

.fc-border-separate th,
.fc-border-separate td {
    border-width: 1px 0 0 1px !important;
}

.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
    border-right-width: 1px !important;
}

.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
    border-bottom-width: 1px !important;
}

.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
    border-top-width: 0 !important;
	  }

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
    text-align: center !important;
	 background: -moz-linear-gradient(#50aba2, #7fefc5) repeat scroll 0 0 transparent !important;
    background: -o-linear-gradient(#50aba2, #7fefc5) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(#50aba2, #7fefc5) repeat scroll 0 0 transparent !important;
    background: -ms-linear-gradient(#50aba2, #7fefc5) repeat scroll 0 0 transparent !important;
}

.fc-grid .fc-day-number {
    float: right !important;
    padding: 0 2px !important;
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3 !important;
    filter: alpha(opacity=30) !important; /* for IE */
    /* opacity with small font can sometimes look too faded
       might want to set the 'color' property instead
       making day-numbers bold also fixes the problem */
}

.fc-grid .fc-day-content {
    clear: both !important;
    padding: 2px 2px 1px !important; /* distance between events and day edges */
}

/* event styles */

.fc-grid .fc-event-time {
    font-weight: bold !important;
}

/* right-to-left */

.fc-rtl .fc-grid .fc-day-number {
    float: left !important;
}

.fc-rtl .fc-grid .fc-event-time {
    float: right !important;
}

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
    border-collapse: separate !important;
}

.fc-agenda-days th {
    text-align: center !important;
}

.fc-agenda .fc-agenda-axis {
    width: 50px !important;
    padding: 0 4px !important;
    vertical-align: middle !important;
    text-align: right !important;
    white-space: nowrap !important;
    font-weight: normal !important;
}

.fc-agenda .fc-day-content {
    padding: 2px 2px 1px !important;
}

/* make axis border take precedence */

.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px !important;
}

.fc-agenda-days .fc-col0 {
    border-left-width: 0 !important;
}

/* all-day area */

.fc-agenda-allday th {
    border-width: 0 1px !important;
}

.fc-agenda-allday .fc-day-content {
    min-height: 34px !important; /* TODO: doesnt work well in quirksmode */
    _height: 34px !important;
}

/* divider (between all-day and slots) */

.fc-agenda-divider-inner {
    height: 2px !important;
    overflow: hidden !important;
}

.fc-widget-header .fc-agenda-divider-inner {
    background: #eee !important;
}

/* slot rows */

.fc-agenda-slots th {
    border-width: 1px 1px 0 !important;
}

.fc-agenda-slots td {
    border-width: 1px 0 0 !important;
    background: none !important;
}

.fc-agenda-slots td div {
    height: 20px !important;
}

.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
    border-top-width: 0 !important;
}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
    border-top-style: dotted !important;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
    *border-top-style: solid !important; /* doesn't work with background in IE6/7 */
}

/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
    border-width: 0 1px !important;
}

.fc-event-vert .fc-event-head,
.fc-event-vert .fc-event-content {
    position: relative !important;
    z-index: 2 !important;
    width: 100% !important;
    overflow: hidden !important;
}

.fc-event-vert .fc-event-time {
    white-space: nowrap !important;
    font-size: 10px !important;
}

.fc-event-vert .fc-event-bg {
    /* makes the event lighter w/ a semi-transparent overlay  */
    position: absolute !important;
    z-index: 1 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #fff !important;
    opacity: .3 !important;
    filter: alpha(opacity=30) !important;
}

.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
    display: none !important; /* for IE6/7/8. nested opacity filters while dragging don't work */
}

/* resizable */

.fc-event-vert .ui-resizable-s {
    bottom: 0 !important; /* importants override pre jquery ui 1.7 styles */
    width: 100% !important;
    height: 8px !important;
    overflow: hidden !important;
    line-height: 8px !important;
    font-size: 11px !important;
    font-family: monospace !important;
    text-align: center !important;
    cursor: s-resize !important;
}

.fc-agenda .ui-resizable-resizing {
    /* TODO: better selector */
    _overflow: hidden !important;
}
	
	
